doctype
html
    head
        title pull quote
        link(href="css/ex005.css" rel="stylesheet")

body

        div
            blockquote.pull.
                Dies ist ein Pull Quote. Er ist lang, aber er kann umgebrochen werden. Und er hat Stil.
            p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum, elit at rhoncus efficitur, enim nisi dignissim est, vel sodales augue erat ac nibh. Cras in sem id ex elementum varius ac eu leo. Curabitur consequat velit neque, a ornare mi suscipit vitae. Donec at egestas nisl, nec venenatis libero. Proin consequat purus vel dolor interdum sagittis. Aliquam tellus massa, mattis vel tincidunt quis, mattis vel massa. Praesent non turpis vel ligula molestie venenatis sit amet vitae odio. Donec ut odio non lectus dictum tempus sed varius lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nulla a sapien ullamcorper porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent a volutpat lorem. Aliquam id dictum felis.
        div#absatz2.
            Fusce ullamcorper, ligula ac posuere scelerisque, quam velit efficitur arcu, nec dictum justo est in felis. Cras consequat lacinia consectetur. Morbi efficitur nulla lacus, sed eleifend magna scelerisque pharetra. Donec leo odio, ultricies ut erat a, posuere ultricies metus. Vivamus nisi tellus, mattis ullamcorper odio sit amet, finibus semper nulla. In vitae velit et turpis accumsan vulputate sit amet quis erat. Sed diam arcu, placerat imperdiet velit vel, rutrum imperdiet lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada justo ut elit aliquam, vel viverra sem malesuada. Mauris dapibus accumsan nisl, sit amet bibendum lacus semper eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Integer et sapien non augue porta rutrum. Curabitur varius magna vulputate, viverra sapien a, molestie enim. Fusce dapibus nunc sit amet mi interdum, eget semper diam cursus.
        div.
            Sed id odio fringilla, consectetur dui non, aliquet nulla. Etiam sit amet maximus turpis. Maecenas aliquet laoreet magna, a accumsan tellus. Integer malesuada erat id sapien vestibulum, sed lacinia elit rhoncus. Pellentesque vehicula neque id mollis congue. Mauris nec enim lobortis, bibendum dolor in, porta ipsum. Quisque pharetra odio a est blandit maximus. Integer non erat nisi. Donec luctus augue vitae velit ornare elementum. Donec varius ipsum velit, eu rutrum turpis ullamcorper nec. Proin porta tortor non velit ornare semper vel ut sem. Proin erat nisi, molestie vitae interdum sed, pretium ut odio. Sed nunc lorem, interdum at convallis blandit, placerat quis arcu. Duis metus elit, auctor eget convallis convallis, convallis at nisl. Mauris ac tincidunt sem.
        div#absatz4.
            Fusce eleifend urna vel blandit efficitur. Aliquam arcu erat, molestie id malesuada et, tempus ut dolor.
