doctype
html
    head
        title zwei Spalten
        link(href="css/ex006.css" rel="stylesheet")
body

    div#absatzlinks.
        Fusce ullamcorper, ligula ac posuere scelerisque, quam velit efficitur arcu, nec dictum justo est in felis. Cras consequat lacinia consectetur. Morbi efficitur nulla lacus, sed eleifend magna scelerisque pharetra. Donec leo odio, ultricies ut erat a.
    div#absatzrechts.
        Fusce eleifend urna vel blandit efficitur. Aliquam arcu erat, molestie id malesuada et, tempus ut dolor. Integer laoreet dui at finibus venenatis. Phasellus sit amet sodales tellus. Etiam et sollicitudin nunc. Pellentesque vel volutpat arcu. Quisque id rhoncus metus, a sodales est. Fusce tempor mauris quis vehicula accumsan. Suspendisse sollicitudin nibh urna, hendrerit ultrices libero maximus sed. Duis pellentesque accumsan arcu, a fringilla sem. Nam ac eros vulputate orci suscipit ornare. Nunc ultrices id tortor eget accumsan. Duis ultricies consectetur ligula vel suscipit. Cras non augue ac ex condimentum auctor nec quis tellus. Quisque ut libero rutrum, tincidunt mi non, sollicitudin mauris. Donec faucibus tellus quam, in dictum libero ultricies ut.


