doctype
html
    head
        title fun with calc
    body
        div(style="margin:40px; padding: 40px; width: calc(50% - 160px); background-color: pink;").
            Lorem ipsum dolor sit amet, consecteturadipiscing elit. Aenean leo eros, lacinia non eros vel, vestibulum scelerisque neque. Nunc nec lorem nulla. Maecenas et nunc ultrices, consequat metus at, mollis nunc. Quisque nec nulla vestibulum, pretium ante eu, malesuada est. Ut eget ex interdum, tempor elit eu, tempus tortor. Cras sed sagittis eros. Nam sit amet enim id nulla vestibulum suscipit nec eget risus. Phasellus lobortis enim in ultrices malesuada. Vestibulum nec cursus mi. Proin eros sapien, efficitur nec risus at, vestibulum rhoncus metus. Vestibulum eleifend dui eget quam bibendum pulvinar.
