doctype
html
    head
        title Tabellen
        meta(charset="utf-8")
        link(href="css/ex005.css" rel="stylesheet")
    body
        h1 Tabelle

        table
            caption Eine Tabelle mit Schallplatten
            tbody
                tr
                    th Zeile 1
                    td Queen
                    td(rowspan=5) Queen
                    td 1973
                    td 10
                    td.num 8
                tr
                    th Zeile 2
                    td Queen II
                    td 1974
                    td 11
                    td.num 8.5
                tr
                    th Zeile 3
                    td Sheer Heart Attack
                    td 1974
                    td 13
                    td.num 7.5
                tr
                    th Zeile 4
                    td A Night at the Opera
                    td 1975
                    td 12
                    td.num 10
                tr
                    th Zeile 5
                    td Jazz
                    td 1978
                    td 13
                    td.num 8.5

