doctype
html
    head
        title Definition list
        style(type="text/css").
            .nicht-so-bekannt {
                color: lightgray;
            }
    body
        h1 Definition List

        dl
            dt Beatles
                dd John Lennon
                dd Paul Mc Cartney
                dd George Harrison
                dd Ringo Starr
                dd.nicht-so-bekannt Stuart Sutcliffe
                dd.nicht-so-bekannt Pete Best

