doctype
html
    head
        title Listen mit CSS
        meta(charset="utf-8")
        link(href="css/ex002.css" rel="stylesheet")
    body
        h1 Listen mit #[span#cssrot css]

        ul
            li.listyle Episode I
            li.listyle Episode II
            li.listyle Episode III



