doctype
html
    head
        title Tabelle
        style.
            table {
                border-collapse: collapse;
            }
            td {
                border: 1px solid #000000;
                width: 20px;
            }
    body
        h1 Tabelle mit colspan und rowspan

        table
            tr
                td(rowspan=2) ...
                td(colspan=2) ...
                td(colspan=2) ...

            tr
                td(rowspan=2) ...
                td(colspan=2) ...
                td ...
            tr
                td ...
                td(rowspan=2) ...
                td(colspan=2) ...
            tr
                td ...
                td ...
                td(rowspan=2) ...
                td ...
            tr
                td ...
                td ...
                td ...
                td ...
