#eins {
    background-color: #ffa500;
    overflow: hidden;
    margin-bottom: 5px;
}

#zwei {
    background-color: #8f9cff;
    height: 50px;
    overflow: hidden;
    padding: 5px;
    border: 3px solid #000;
    margin: 5px 10px 20px 7px;
}

#drei {
    background-color: aquamarine;
    height: 70px;
    width: 200px;
    overflow: auto;
    padding: 5px 10px;
    border: 2px dotted #aaa;
    margin: 20px auto;
}

#vier {
    background-color: green;
    height: 10%;
    width: 50%;
    overflow: hidden;
    margin-bottom: 5px;
}

#fuenf {
    background-color: yellow;
    height: 10em;
    width: 50em;
    overflow: hidden;
    margin-bottom: 5px;
}