doctype
html
    head
        title Cascading 01
        meta(charset="utf-8")
        link(href="css/ex001.css" rel="stylesheet")
    body
        p Proin non odio ullamcorper, facilisis lectus euismod, ultrices leo. #[span#span0 Donec interdum lectus at vulputate elementum.] Maecenas auctor finibus finibus. Mauris feugiat tortor neque, id fermentum dui volutpat at. Nunc nibh neque, hendrerit tempor aliquam in, egestas non ipsum. Sed fermentum volutpat leo quis consequat. Aenean sit amet nibh vehicula, imperdiet mi id, iaculis nisl. Maecenas in iaculis nisi. Aliquam non pretium velit, nec dignissim justo.
        p Donec iaculis sapien sit amet justo #[span#span1 eleifend egestas. Pellentesque consequat erat nisl, a auctor leo dignissim in. Cras vitae lectus lectus. Morbi finibus semper purus], in sodales arcu semper vel. Donec sed feugiat ipsum. Curabitur eget ornare dui. Vestibulum malesuada velit eu dolor aliquet commodo. Praesent iaculis felis et aliquet porta. Duis pulvinar nibh nec consequat tincidunt. Morbi eu dui at sem luctus consequat at non dui. Proin congue ultricies  turpis, sit amet porta lorem sagittis et. Sed condimentum interdum finibus.
        p Curabitur id lobortis arcu, eget aliquam urna. Suspendisse non venenatis sapien. Cras tincidunt tincidunt magna, at aliquam orci. Vivamus pellentesque <#[span#span2 massa sed nisl euismod fringilla. Morbi fermentum nibh faucibus venenatis finibus. Donec quis porttitor mi. Nullam] molestie semper consectetur.
